<!--  
Adapted from https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Basic_usage
Introduction to graphics on canvas

NOTE: to open this file use the VSC Live Server Extension
      because You cannot use a script file as a module without using a server.
		<script defer type="module" src="rectangle-client.js"></script>
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel=stylesheet href="../input/menu.css">
		<script defer src="lissajous-client.js"></script>
  </head>
  <body>
	  <h1>Daniel David Sarmiento Barrera</h1>
    <canvas id="lissajous" width="1900" height="800" style="border:1px solid black;"></canvas>
    <div id="menu"></div>
    <li><a href="index.html">Home</a></li>
    <p> Las curvas de Lissajous son patrones que se forman al graficar una ecuación paramétrica
        que describe el movimiento de dos osciladores armónicos perpendiculares entre sí. Estas
        curvas se representan en un sistema de coordenadas cartesianas, donde una oscilación se 
        grafica en el eje x y la otra en el eje y.
    </p>
    <li><a href="https://es.wikipedia.org/wiki/Curva_de_Lissajous">Wikipedia: Curva de Lissajous</a></li>
    <li><a href="https://academo.org/demos/lissajous-curves/">Academo: Curva de Lissajous</a></li>
  </body>
</html>