<!--  
Adapted from https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Basic_usage
Introduction to graphics on canvas

NOTE: to open this file use the VSC Live Server Extension
      because You cannot use a script file as a module without using a server.
		<script defer type="module" src="rectangle-client.js"></script>
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Index</title>
		<script type="module" src="lissajous-client.js"></script>
  </head>
  <body>
	  <h1>Daniel David Sarmiento Barrera Lissajous Curves </h1>
    <ul>
      <li><a href="daniel-david-sarmiento-lissajous.html">Lissajous Curves</a></li>
      <li><a href="docs/index.html">Documentación</a></li>
      <li><a href="uml.html">Gráfico UML</a></li>
      <li><a href="../../evaluation-session/view/daniel-david-sarmiento-lissajous.html">Evaluation Session</a></li>
    </ul>
  </body>
</html>